.hr-accordion-wrapper .accordion-title span.collapse-icon {    
    padding: 5px 15px !important;
}
.srch_btn{
	color: #000 !important;
}
.panel_style2{
	padding: 10px;
}
.panel_body_style2{
	padding: 10px !important;
}
.h4.panel-title{
	padding: 5px !important;
}
.panel-heading {
    background-color: #00b9eb !important;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 1px;
}
.title_a{
	color: #fff;
}
.title_header{
	color: #00b9eb !important;
}